@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('style.css');

:root {
    --white: #fbf4dc;
    --gold: #c5a334;
    --black: #111;
    --light-color: #fcd860;
    --box-shadow: 0 0 1rem rgba(250, 224, 136, 0.786);
    --border: .2rem solid var(--gold);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

body {
    font-size: 62.5%;
    overflow-x: hidden;
    background: color #1a1a1a;;       
    color: var(--gold) !important;    
    line-height: 1.6;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    padding-top: 7rem;
}


header {
    background: #060505e9;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem rgba(244, 229, 114, 0.258);
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    color: var(--gold) !important;
}

header nav a {
    font-size: 1.7rem;
    color: var(--gold) !important;
    margin-left: 2rem;
}

header nav a:hover {
   color: var(--gold);
}

.about {
    padding: 5rem 2rem; 
    max-width: 1200px; 
    margin: 10rem auto; 
    background: #111; 
    border-radius: 1rem; 
    box-shadow: var(--box-shadow);
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: var(--gold);
    font-size: 4rem; 
    letter-spacing: .3rem; 
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 2rem; 
}

.content {
    flex: 1 1 100%; 
    text-align: center; 
}

.content h3 {
    color: var(--gold) !important;
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
}

.content p {
    color:var(--gold) !important;
    padding: 1rem 0; 
    font-size: 1.6rem; 
    line-height: 1.8;
}

.about:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}

header h1::after {
    content: '';
    display: block;
    width: 4rem;
    height: .3rem;
    background:var(--gold) !important;
    margin-top: .5rem;
}
